In [1]:
import pywhatkit as pwk
import pandas as pd

In [2]:
df = pd.read_csv('data_no_hifi.csv', sep='\t')
df.head()

          TELP provider
0    811308174     Lain
1  85101694734     Lain
2   8570788856  Indosat
3            -        -
4   8563456327  Indosat

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7620 entries, 0 to 7619
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TELP      7466 non-null   object
 1   provider  7620 non-null   object
dtypes: object(2)
memory usage: 119.2+ KB

In [4]:
df = df[df.TELP != '-']
df = df[df.provider != '-']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7457 entries, 0 to 7619
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TELP      7457 non-null   object
 1   provider  7457 non-null   object
dtypes: object(2)
memory usage: 174.8+ KB

In [6]:
df

             TELP provider
0       811308174     Lain
1     85101694734     Lain
2      8570788856  Indosat
4      8563456327  Indosat
5     85707888856  Indosat
...           ...      ...
7615  81555650654  Indosat
7616  81999265636     Lain
7617  85729589537  Indosat
7618  82131148338     Lain
7619  81229333067     Lain

[7457 rows x 2 columns]

In [7]:
df['TELP'] = '+62'+ df['TELP'] 
df

                TELP provider
0       +62811308174     Lain
1     +6285101694734     Lain
2      +628570788856  Indosat
4      +628563456327  Indosat
5     +6285707888856  Indosat
...              ...      ...
7615  +6281555650654  Indosat
7616  +6281999265636     Lain
7617  +6285729589537  Indosat
7618  +6282131148338     Lain
7619  +6281229333067     Lain

[7457 rows x 2 columns]

In [9]:
# Import library yang diperlukan
import pywhatkit as pwk
import time
df = pd.DataFrame(df)
start_row = 420
end_row = 469
selected_numbers = df['TELP'][start_row:end_row+1].tolist()

imagePath = "blast.jpg"
Caption = ("ðŸŽ‰ Promo Eksklusif IM3 Prime ðŸŽ‰\n\n"
           "ðŸ“Œ Free Nomor Cantik\n"
           "ðŸ“Œ eSIM Ready\n"
           "ðŸ“Œ Gratis Vidio Apps\n"
           "ðŸ“Œ Kuota Rollover sampai 100GB\n\n"
           "Tunggu apa lagi? Pilihan terbaik untuk internet yang lancar dan tanpa batas! Dapatkan segera!")

initial_chat = ("Selamat Siang Bapak/Ibu, Perkenalkan Saya , Account Executive Postpaid Indosat Surabaya. Ijin share promo menarik dari IM3 Postpaid untuk Bapak/Ibu")

# Loop untuk mengirim pesan ke nomor yang dipilih dalam rentang
for number in selected_numbers:
    pwk.sendwhatmsg_instantly(number, initial_chat, 20, tab_close=True)
    pwk.sendwhats_image(number, imagePath, Caption, 25, tab_close=True)
print(f"Pesan akan dikirim ke nomor berikut: {selected_numbers}")

Pesan akan dikirim ke nomor berikut: ['+6281357576773', '+6281358868383', '+6281334568775', '+6289649938327', '+6285229998492', '+6281938390106', '+6285100103967', '+6287888078064', '+6282234331218', '+6287703378741', '+6282231654443', '+628.81036E+11', '+6281359819249', '+6282132939913', '+6283831399360', '+6285101544827', '+6285261013651', '+6281284339050', '+6281285617038', '+6287744491927', '+6281217733124', '+6281333360202', '+6281233878241', '+6282135153090', '+6289501748917', '+6285718708887', '+6281335425513', '+628151600256', '+6285105023476', '+6285850842941', '+6282341365088', '+6281332405263', '+6281234711736', '+6282216603885', '+6281238335010', '+6281393503844', '+628123230635', '+628.95342E+11', '+62818580966', '+6281335931952', '+6281233975573', '+6282299803064', '+6285730038672', '+6282140161515', '+6287853331308', '+6282141555422', '+6281333900065', '+6282187499110', '+6287855993021', '+6287849443156']